
/*change bg color here*/
body{
    background-color:aliceblue;
}

/*maintain the scrolling feature of 'about' 
and to position it*/
 #about {
    padding-left: 40px;
    padding-top: 250px;
    vertical-align: middle;
    overflow-y: scroll; height:400px;
    position: fixed;
}

/*giving main content space*/

#title, #nav, #footer{
    padding:30px
}

/*orientation of 'about'*/
p {
writing-mode: vertical-rl;
text-orientation: sideways;
}

/*to center image/comic*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button{
    
}
